{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#if tag.image}}
<script type="text/javascript">
accentImagePath = "{{tag.image}}";
</script>
{{/if}}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header tag-head">
    <nav class="main-nav overlay clearfix">
        <a class="button back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="button subscribe-button icon-feed" href="{{@blog.url}}/tag/{{tag.slug}}/rss/">{{tag.name}}</a>
    </nav>
    <div class="main-header-content">
        <h1 class="page-title">{{tag.name}}</h1>
        <h2 class="page-description">
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                A {{pagination.total}}-post collection
            {{/if}}
        </h2>
    </div>
    <div class="img-stripe"></div>
</header>

{{! The main content area on the homepage }}
<main class="content" style="padding-top: 50%;" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
